.space {
	padding-top: 150px;
}

.space2 {
	padding-top: 50px;
}

.circle {
	border-radius: 50%;
	width: 150px;
	height: auto;
}

.four {
	background-color: ghostwhite;
	border-radius: 5px;
}

.my-items {
	list-style: none;
	text-decoration: none;
}